.header{
    width: 96%;
    height: 50px;
    position: relative;
    
    // box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    background-color: transparent !important;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    // padding: 0px 15px;

    .button{
        display: flex;
        justify-content: space-between;
        width: 100%;
        svg{
            margin: 0 5px;
        }
    }

    .icon{
        display: flex;
        justify-content: space-around;
        width: 7%;
        
        svg{
            cursor: pointer;;
          }
    }
}